input,
select,
textarea {
  font-family: "Microsoft YaHei";
  border: 0;
  text-indent: 1em;
}

input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
}

input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input[type="text"]::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #999999;
  font-size: inherit;
}
input[type="text"]:-moz-placeholder,
select:-moz-placeholder {
  color: #999999;
  font-size: inherit;
}
input[type="text"]::-moz-placeholder,
select::-moz-placeholder {
  color: #999999;
  font-size: inherit;
}
input[type="text"]:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #999999;
  font-size: inherit;
}

.head, .head .nav ul, .academy .academy-cont, .lesson .l-cont, .form .sign-in, .apply ul, .bottom .wrap, .dialog .tel {
  zoom: 1;
}
.head:after, .head .nav ul:after, .academy .academy-cont:after, .lesson .l-cont:after, .form .sign-in:after, .apply ul:after, .bottom .wrap:after, .dialog .tel:after {
  clear: both;
}
.head:before, .head .nav ul:before, .academy .academy-cont:before, .lesson .l-cont:before, .form .sign-in:before, .apply ul:before, .bottom .wrap:before, .dialog .tel:before, .head:after, .head .nav ul:after, .academy .academy-cont:after, .lesson .l-cont:after, .form .sign-in:after, .apply ul:after, .bottom .wrap:after, .dialog .tel:after {
  content: "";
  display: table;
}

.head .nav ul .line, .title .icon,
.title span, .in span, .btn-wrap .btn, .lesson .l-cont .item a, .lesson .courses-btn .icon, .city .submit-btn, .dialog .item span {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

a:hover {
  color: #ea2100;
}

.wrap {
  width: 1100px;
  margin: 0 auto;
}

.head {
  height: 100px;
}
.head .logo {
  float: left;
  padding-top: 19px;
  line-height: 26px;
}
.head .logo .name {
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #eb2100;
}
.head .logo .name strong {
  color: #333;
}
.head .logo .consult {
  width: 230px;
  height: 26px;
  font-size: 16px;
  background-image: linear-gradient(61deg, #0d4aae 0%, #2967d0 100%);
  border-radius: 4px;
  letter-spacing: 17px;
  color: #ffffff;
  text-align: center;
}
.head .nav {
  float: right;
}
.head .nav ul li {
  float: left;
  padding-top: 42px;
  line-height: 26px;
  font-size: 18px;
  cursor: pointer;
}
.head .nav ul li:hover {
  color: #ea2100;
  font-weight: bold;
}
.head .nav ul .line {
  width: 7px;
  height: 13px;
  margin: 0 20px;
  background: url(../images/slash.png) no-repeat;
}
.head .nav ul .consult {
  display: block;
  height: 26px;
  margin-left: 50px;
  padding: 0 10px;
  line-height: 25px;
  font-size: 16px;
  background-image: linear-gradient(-84deg, #ea2100 0%, #ff5033 100%);
  box-shadow: 0px 2px 5px 0px rgba(235, 35, 3, 0.57);
  color: #fff;
  border-radius: 13px;
  text-align: center;
}

.a-c {
  color: #ea2100;
}

.banner {
  height: 564px;
  background: url(../images/banner.png) no-repeat;
}

.title {
  margin-bottom: 16px;
  line-height: 44px;
  font-size: 44px;
  letter-spacing: -1px;
  text-align: center;
}
.title .icon,
.title span {
  vertical-align: middle;
}
.title .icon {
  width: 26px;
  height: 22px;
  background: url(../images/title.png) no-repeat;
}
.title strong {
  font-weight: bold;
}

.more-than {
  height: 507px;
  padding-top: 80px;
  background: url(../images/bg_1.png) no-repeat;
}
.more-than .title strong {
  color: #da3812;
}

.in {
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}
.in span {
  padding: 0 8px;
  background-image: linear-gradient(107deg, #ff6951 0%, #d0280c 100%);
  border-radius: 2px;
}

.accpet {
  padding: 79px 0 73px;
  background-color: #f2f9ff;
}
.accpet .a-cont {
  padding-top: 66px;
  text-align: center;
}
.accpet .a-cont img {
  margin: 0 3px;
}

.subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}

.btn-wrap {
  padding-top: 20px;
  text-align: center;
}
.btn-wrap .btn {
  width: 312px;
  height: 63px;
  line-height: 62px;
  font-size: 22px;
  background-image: linear-gradient(107deg, #ff6951 0%, #d0280c 100%);
  box-shadow: 2px 7px 6px 0px rgba(250, 118, 5, 0.15);
  border-radius: 7px;
  color: #fff;
}

.academy {
  padding: 80px 0 70px;
}
.academy .academy-cont {
  width: 1110px;
  padding-top: 38px;
  margin: 0 auto;
}
.academy .academy-cont .item {
  float: left;
  position: relative;
  width: 354px;
  height: 250px;
  margin: 0 8px 75px 8px;
}
.academy .academy-cont .item .bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 250px;
  background-color: #e7e7e7;
  border-radius: 4px;
}
.academy .academy-cont .item .brevity {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 54px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.academy .academy-cont .item .brevity .name {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.academy .academy-cont .item .brevity .name,
.academy .academy-cont .item .brevity p {
  margin-left: 14px;
}
.academy .academy-cont .item .brevity span {
  padding-right: 20px;
}
.academy .academy-cont .item .detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 110;
  padding: 60px 13px 0;
  height: 190px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
}
.academy .academy-cont .item .detail .name {
  font-size: 20px;
  font-weight: bold;
}
.academy .academy-cont .item .detail .major {
  font-size: 16px;
}
.academy .academy-cont .item .detail .recommend {
  color: #fd7636;
}
.academy .academy-cont .item .detail .recommend span {
  color: #fff;
}
.academy .academy-cont .item .detail p span {
  margin-right: 20px;
}
.academy .academy-cont .item .btn-wrap {
  position: absolute;
  bottom: -45px;
  width: 100%;
  text-align: center;
}
.academy .academy-cont .item .btn-wrap a {
  float: left;
  width: 173px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  background-color: #ffffff;
  color: #e90000;
  border: solid 1px #ec2424;
}
.academy .academy-cont .item .btn-wrap a:nth-of-type(2) {
  float: right;
}
.academy .academy-cont .item .btn-wrap a:hover {
  color: #fff;
  background-image: linear-gradient(107deg, #ff6951 0%, #d0280c 100%);
}
.academy .academy-cont .item:hover .brevity {
  display: none;
}
.academy .academy-cont .item:hover .detail {
  display: block;
}
.academy:nth-of-type(2n) {
  background-color: #f2f9ff;
}

.lesson {
  padding: 57px 0 48px;
  background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/bg_3.png) no-repeat top center;
}
.lesson .title {
  color: #fff;
}
.lesson .subtitle {
  color: #cfdbff;
}
.lesson .l-cont {
  width: 1220px;
  margin: 0 auto;
  padding-top: 34px;
}
.lesson .l-cont .item {
  float: left;
  width: 177px;
  padding: 24px 0 18px;
  margin: 0 22px 28px 0;
  line-height: 26px;
  border-radius: 8px;
  border: solid 2px #839cee;
  color: #fff;
  text-align: center;
}
.lesson .l-cont .item img {
  margin-bottom: 14px;
}
.lesson .l-cont .item .item-en {
  font-size: 14px;
}
.lesson .l-cont .item .item-cn {
  font-size: 20px;
  margin-bottom: 10px;
}
.lesson .l-cont .item a {
  padding: 0 11px;
  height: 27px;
  line-height: 26px;
  font-size: 16px;
  background-image: linear-gradient(107deg, #ff6951 0%, #d0280c 100%);
  border-radius: 4px;
  color: #fff;
}
.lesson .l-cont .item:hover {
  background: #fff;
}
.lesson .l-cont .item:hover .item-en {
  color: #666666;
}
.lesson .l-cont .item:hover .item-cn {
  color: #444444;
}
.lesson .courses-btn {
  display: block;
  width: 200px;
  height: 48px;
  line-height: 48px;
  background-color: #ffffff;
  box-shadow: 8px 9px 7px 0px rgba(23, 50, 133, 0.68);
  border-radius: 7px;
  margin: 0 auto;
  font-size: 18px;
  color: #2a4496;
  text-align: center;
}
.lesson .courses-btn .icon {
  width: 14px;
  height: 11px;
  background: url(https://img.thea.cn/public/platform/thea/201912/hbj/mba-sz/images/icon_11.png) no-repeat;
  margin-left: 10px;
}

.form {
  position: relative;
  width: 1077px;
  padding: 31px 0 63px 23px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 4px 4px 81px 0px rgba(15, 79, 182, 0.19);
}
.form p {
  padding: 16px 0 40px;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
}
.form p span {
  font-weight: bold;
  color: #ea2100;
}
.form .circle {
  position: absolute;
  top: -30px;
  left: -28px;
  width: 86px;
  height: 84px;
  background: url(../images/c_1.png);
}
.form .item {
  float: left;
  padding: 0 10px;
  margin-right: 10px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  border-radius: 7px;
  border: solid 1px #cdcdcd;
  text-align: center;
}
.form .item span {
  padding-left: 14px;
  margin-left: 14px;
  font-weight: normal;
  background: url(../images/i-nor.png) no-repeat left;
  cursor: pointer;
}
.form .item span.on {
  background: url(../images/i-sel.png) no-repeat left;
}
.form input {
  width: 170px;
  padding-left: 6px;
  margin-top: -2px;
  line-height: 50px;
  text-indent: 0;
  font-weight: normal;
}
.form .btn {
  width: 120px;
}

.city {
  padding: 103px 0 98px;
}
.city .nobd {
  padding: 0;
  margin-right: 0;
  border: 0;
}
.city .submit-btn {
  width: 120px;
  height: 51px;
  padding: 0;
  font-size: 20px;
  background-image: linear-gradient(107deg, #ff6951 0%, #d0280c 100%);
  border-radius: 7px;
  color: #ffffff;
  text-align: center;
}

.apply {
  padding: 44px 0 66px;
  background: url(../images/bg_5.png) no-repeat center;
}
.apply .title {
  margin-bottom: 54px;
}
.apply .apply-cont {
  width: 1100px;
  margin: 0 auto;
  background: url(../images/apply.png) no-repeat;
}
.apply ul {
  margin-right: -77px;
}
.apply ul li {
  float: left;
  width: 119px;
  padding-top: 90px;
  margin-right: 77px;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#footer {
  margin-top: 0;
  background: #333;
}
#footer p a {
  color: #999;
}
#footer p a:hover {
  color: #ea2100;
}
#footer .links a {
  color: #999;
}

.bottom-site {
  width: 100%;
  height: 100px;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url(../images/bottom.png) no-repeat center;
}
.bottom .wrap {
  position: relative;
}
.bottom .close {
  display: none;
}
.bottom .b-title {
  float: left;
  padding-top: 16px;
  margin-left: 97px;
  line-height: 35px;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}
.bottom .b-title span {
  color: #fcc873;
}
.bottom .sign-in {
  float: left;
  padding-top: 35px;
  margin-left: 28px;
}
.bottom .sign-in input {
  float: left;
  width: 206px;
  height: 39px;
  line-height: 38px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #ffffff;
}
.bottom .sign-in input[type="submit"] {
  width: 120px;
  color: #ea2100;
  background-color: #ffc619;
}

.dialog {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 300;
  left: 0;
  top: 0;
  background: url(https://img.thea.cn/public/platform/thea/202004/hbj/bw/images/mask.png);
}
.dialog .model {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -306px;
  margin-top: -218px;
  width: 612px;
  height: 436px;
  background: url(../images/dialog.png) no-repeat;
}
.dialog .close {
  position: absolute;
  top: 3px;
  right: 14px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.dialog .title {
  padding-top: 26px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #fff;
}
.dialog .sign-in {
  width: 505px;
  height: 277px;
  padding: 30px 23px 20px 30px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 6px;
}
.dialog .item {
  margin-bottom: 20px;
  line-height: 28px;
  font-size: 18px;
  color: #000;
  border-radius: 7px;
}
.dialog .item span {
  width: 84px;
  padding-left: 26px;
  margin-left: 16px;
  line-height: 16px;
  font-size: 16px;
  color: #444;
  background: url(../images/i-nor_2.png) no-repeat left center;
  cursor: pointer;
}
.dialog .item span.on {
  background: url(../images/i-sel_2.png) no-repeat left center;
}
.dialog .item input {
  width: 100%;
  line-height: 48px;
  border-radius: 8px;
  font-weight: normal;
}
.dialog .tel {
  height: 48px;
  border-radius: 7px;
  border: solid 1px #a6afca;
}
.dialog .tel input {
  float: left;
  width: 280px;
}
.dialog .tel .submit-btn {
  float: right;
  width: 176px;
  height: 48px;
  background-image: linear-gradient(107deg, #ff6951 0%, #d0280c 100%);
  box-shadow: 2px 2px 7px 0px rgba(241, 85, 32, 0.4);
  border-radius: 7px;
  color: #fff;
}

.side-nav {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 200;
  width: 119px;
  height: 218px;
  background: url(../images/side-nav.png) no-repeat;
}
.side-nav ul {
  padding-top: 16px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.side-nav li {
  height: 40px;
  line-height: 40px;
}
.side-nav li a {
  width: 100%;
  color: #ffffff;
}
.side-nav li a:hover {
  color: #ffbf22;
  font-weight: bold;
}
.side-nav .tel, .side-nav .hint {
  line-height: 20px;
}
.side-nav .tel {
  padding-top: 10px;
  font-size: 14px;
}
.side-nav .hint {
  font-size: 12px;
}
.side-nav .black-to-top {
  position: absolute;
  bottom: 0;
  left: 29px;
  width: 56px;
  height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .banner {
    background: url(../images/banner.png) no-repeat center;
  }

  .more-than {
    background: url(../images/bg_1.png) no-repeat center;
  }
}

/*# sourceMappingURL=index.css.map */
